/* Variables */
/* Global */
html {
  font-family: "Lora", serif;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h6 {
  margin: 0;
  font-size: 13px;
  font-style: "Lora", serif;
  font-style: italic;
  line-height: 1.2;
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  margin: 36px 0;
  text-align: center;
}

.section-title h3 {
  font-size: 30px;
  margin: 0;
  line-height: 1.5;
}

/* Banner */
header {
  position: relative;
  background: black;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  height: 700px;
}

header .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header::before {
  content: "";
  background-image: url("/images/madebyvadim.com-tiny.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.page-title {
  color: white;
  -ms-flex: 0 0 85%;
      flex: 0 0 85%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.page-title p {
  font-style: italic;
  font-size: 32px;
  margin: 0 0 12px 0;
}

.page-title h1 {
  font-size: 60px;
  margin: 0;
}

.page-title .btn {
  border-radius: 5px;
  background: gold;
  font-family: "Poppins", sans-serif;
  color: white;
  border: none;
  height: 60px;
  width: 180px;
  margin-top: 24px;
  margin-bottom: 120px;
  cursor: pointer;
  text-align: center;
}

.page-title .btn a {
  text-decoration: none;
  color: white;
  line-height: 60px;
}

/* Navigation */
.navigation {
  position: relative;
  -ms-flex: 0 0 15%;
      flex: 0 0 15%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation .logo {
  -ms-flex: 0 0 30%;
      flex: 0 0 30%;
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 60px;
  padding-right: 60px;
}

.navigation .logo h4 {
  font-family: "Rouge Script", cursive;
  color: gold;
  font-size: 24px;
  padding-right: 24px;
}

.navigation nav {
  -ms-flex: 0 0 70%;
      flex: 0 0 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.navigation li {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  margin: 0 6px;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

/* Services */
.services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 42px;
}

.services .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.services .elements {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 24px 0;
}

.services .element {
  border: 0px solid black;
  text-align: center;
  width: 285px;
}

.services .element i {
  height: 80px;
  width: 80px;
  line-height: 75px;
  border: 3px solid gold;
  border-radius: 50%;
}

.services .element .fas {
  color: gold;
  font-size: 36px;
}

.services .element h4 {
  margin-bottom: 0;
}

/* Portfolio */
.portfolio {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 42px;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: whitesmoke;
  margin-bottom: 0;
}

.portfolio .row {
  -ms-flex-pack: center;
      justify-content: center;
}

.portfolio .section-title {
  margin-bottom: 12px;
  margin-top: 48px;
}

.portfolio .elements {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 90px;
}

.portfolio .element {
  border: 0px solid black;
  padding: 0;
}

.portfolio .element .card-image {
  border: 0px solid black;
  width: 255px;
  height: 255px;
  margin: 50px 15px 0 15px;
}

.portfolio .element .img-1 {
  background-image: url("/images/Ebony-Ivory-Branding-Mockup.jpg");
}

.portfolio .element .img-2 {
  background-image: url("/images/Branding-Identity-Mockup-600x450.jpg");
}

.portfolio .element .img-3 {
  background-image: url("/images/2020-08-18_00h27_47.png");
}

.portfolio .element .img-4 {
  background-image: url("/images/Vinyl-Record-PSD-Main.jpg");
}

.portfolio .element .img-5 {
  background-image: url("/images/Treehouse-Home-Page-Main.jpg");
}

.portfolio .element .img-6 {
  background-image: url("/images/3-Photorealistic-Logo-Mockups-Main.jpg");
}

.portfolio .element .image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.portfolio .element .card-title {
  background-color: white;
  border: 0px solid black;
  text-align: center;
  padding: 18px 6px;
  margin: 0 15px;
}

.portfolio .element .card-title h4 {
  margin: 0;
}

/* Footer */
footer {
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

footer .element {
  text-align: left;
  padding-left: 0;
}

footer .smedia {
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

footer ul {
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
}

footer li {
  list-style-type: none;
  text-decoration: none;
  margin: 0 6px;
}

.fab {
  font-size: 25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: white;
  background: black;
  text-align: center;
}

footer a {
  font-size: 0;
}

/* Media */
@media (max-width: 575px) {
  .navigation nav {
    text-align: left;
  }
  .navigation nav ul {
    padding-left: 0;
    margin-right: 60px;
  }
  .page-title h1 {
    font-size: 36px;
  }
  .page-title p {
    font-size: 20px;
  }
  footer {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  footer .element {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */